@import "@folio/stripes-components/lib/variables";

.checklistContainer {
    padding: 1rem;
    background-color: #ebebeb;
    margin-bottom: 0.5rem;
}

.meta {
    font-size: var(--font-size-small);
    color: #656565;
}


.metaContainer {
    margin-top: 0.5rem;
}

.met{
    color: var(--success);
}

.notMet{
    color: var(--error);
}

.other{
    color: #d5600d;
}

.notesContainer {
    padding: 1rem;
}

.notesButton {
    text-align: right;
    padding-left: 1rem;
}
