@import "@folio/stripes-components/lib/variables";

.checklistContainer {
    padding: 1rem;
    background-color: #ebebeb;
    margin-bottom: 0.5rem;
}

.meta {
    font-size: var(--font-size-small);
    color: #656565;
}

.buttonBorder {
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
}


.metaContainer {
    margin-top: 0.5rem;
}

.yesOptionIcon {
    color: var(--success);
}

.yesOptionButton {
    color: #fff;
    background-color: var(--success);
}

.noOptionIcon {

}

.noOptionButton {

}

.otherOptionIcon {

}

.otherOptionButton {

}

.notMet{
    color: var(--error);
}

.other{
    color: #d5600d;
}

.notesContainer {
    padding: 1rem;
}

.notesButton {
    text-align: right;
    padding-left: 1rem;
}
