@import "@folio/stripes-components/lib/variables";

.checklistContainer {
    padding: 1rem;
    background-color: #ebebeb;
    margin-bottom: 0.5rem;
}

.meta {
    color: #656565;
}

.met{
    color: var(--success);
}

.notMet{
    color: var(--error);
}

.other{
    color: #d5600d;
    /* color: var(--warn); */
}

.notesContainer {
    padding: 1rem;
}

.notesButton {
    padding-left: 1rem;
}
