@import '@folio/stripes-components/lib/variables';

.checklistContainer {
  padding: 1rem;
  background-color: #f7f7f7;
  margin-bottom: 0.3rem;
}

.itemLabel {
  font-size: 1.2rem;
}

.meta {
  font-size: var(--font-size-small);
  color: var(--color-text-p2);
}

.buttonBorder {
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
}

.metaContainer {
  margin-top: 0.5rem;
}

.yesOptionIcon {
  color: var(--success);
}

.yesOptionButton {
  color: #fff;
  background-color: var(--success);
}

.noOptionIcon {
  color: var(--error);
}

.noOptionButton {
  color: #fff;
  background-color: var(--error);
}

.otherOptionIcon {
  color: #e05f02;
}

.otherOptionButton {
  color: #fff;
  background-color: #e05f02;
}

.notesContainer {
  padding: 1rem;
}

.notesButton {
  text-align: right;
  padding-left: 1rem;
}
