@import '@folio/stripes-components/lib/variables';

/**
 * Header
 */

.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid transparent;
  margin-top: -0.5rem;
  padding-left: 0.75rem;
  padding-right: 1rem;

  & button,
  & a,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 0;
  }

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**
 * Label
 */
.labelArea {
  display: flex;
  flex-grow: 2;
  font-weight: var(--text-weight-bold);
  justify-content: flex-start;
  color: var(--color-text);
}

/**
 * Default Accordion Header
 */

.header.default {
  flex-basis: 100%;
}

.headerDefaultContentRight {
  display: flex;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 0;
  padding: 0 0 0 1.2rem;
}

[dir='rtl'] .headerDefaultContentRight {
  padding: 0 1.2rem 0 0;
}

.defaultCollapseButton {
  composes: interactionStylesControl from '@folio/stripes-components/lib/sharedStyles/interactionStyles.css';
  flex: 1;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: var(--gutter-static-one-third) 0;
  background-color: transparent;
  width: 100%;
  color: var(--color-text);
  font-size: var(--font-size-large);

  &:hover,
  &:focus {
    opacity: 0.85;
  }

  & .labelArea {
    color: var(--color-text);
    text-align: left;
  }
}

.headerInner {
  composes: interactionStyles boxOffsetStartMedium boxOffsetEndMedium from '@folio/stripes-components/lib/sharedStyles/interactionStyles.css';
  width: 100%;
  display: flex;
  align-items: center;
}

.defaultHeaderIcon {
  color: var(--color-icon);
  padding: 0.25rem 0.25rem 0.25rem 0;
}

[dir='rtl'] {
  & .defaultHeaderIcon {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }

  & .filterSetHeaderIcon {
    margin-left: 0.35em;
  }

  & .defaultCollapseButton .labelArea {
    text-align: right;
    padding-right: 0.25em;
  }

  & .filterSetHeader .labelArea {
    padding-right: 0.25em;
  }
}
